 
  .container{
    background-color:  #F2F2F2;
   
    
  }
 
  .timeline {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  
  .timeline-item {
    
    align-items: left;
    width: 30%;
  }
  
  .timeline-item img {
    width: 100%;
  }
  .h3{
    text-align: left;
  }
  .line {
    flex-grow: 1;
    height: 4px;
    background-color:#3DB166;
    margin: 0 5px;
  }
  .line-container {
    display: flex;
    align-items: center;
    margin-bottom:0;
  }
  
  .circle {
    width: 12px;
    height: 12px;
    background-color: #3DB166;
    border-radius: 50%;
  }
